<!DOCTYPE html>
<html>
  <head>
    <title><%= html %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        function showAlert() {
          alert('HELLO WORD')
        }
    </script>
  </head>
  <body>
    <h1><%= html %></h1>
    <p>Welcome to <%= html %></p>
  </body>
</html>
